<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>d03</string>
	<key>shape_number</key>
	<integer>4</integer>
	<key>vertex_points</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<real>0</real>
				<key>y</key>
				<real>0</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<real>0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<real>0</real>
				<key>y</key>
				<real>0</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<real>0</real>
				<key>y</key>
				<real>0</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
		</array>
	</array>
	<key>edgeinsets</key>
	<array>
		<dict>
			<key>top</key>
			<real>0</real>
			<key>left</key>
			<real>0</real>
			<key>bottom</key>
			<real>0.333</real>
			<key>right</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>top</key>
			<real>0.667</real>
			<key>left</key>
			<integer>0</integer>
			<key>bottom</key>
			<integer>0</integer>
			<key>right</key>
			<real>0.667</real>
		</dict>
		<dict>
			<key>top</key>
			<real>0.667</real>
			<key>left</key>
			<real>0.333</real>
			<key>bottom</key>
			<real>0</real>
			<key>right</key>
			<real>0.333</real>
		</dict>
		<dict>
			<key>top</key>
			<real>0.667</real>
			<key>left</key>
			<real>0.667</real>
			<key>bottom</key>
			<integer>0</integer>
			<key>right</key>
			<real>0</real>
		</dict>
	</array>
</dict>
</plist>
